footer {
  background: linear-gradient(#485563, #29323c);
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container svg {
  font-size: 1.3rem;
  fill: white;
}

.footer-container span {
  margin-left: 0.5rem;
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
}
