.logo {
    max-width: 100%;
    background-color: #5CB85C;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
}
.logo h1 {
    font-weight: 700;
    font-size: 50px;
}
.logo p {
    font-size: 20px;
}

.sidebar{
    background: #f3f3f3;
    border-radius: 4px;
    max-width: 250px;
}

.globalfeed{
    margin-left: 5px;
    margin-right: 10px;
}

.col-md-9 .feed {
    margin-left: 7rem;
}

.yourfeed-btn,
.globalfeed-btn {
    color: #5CB85C; 
    text-decoration: none;
    /* position: relative; 
    padding-bottom: 10px; 
    border-bottom: 2px solid #5CB85C;  */
}


  
  